@model CheeseMVC.ViewModels.ViewMenuViewModel

@{
    ViewBag.Title = Model.Menu.Name;
}



<ul>
    @foreach (CheeseMenu cheeseMenu in Model.Items)
    {
        <li>@cheeseMenu.Cheese.Name</li>
        //should this be .Cheese or .Cheeses??//
    }
</ul>

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Menu Item</a></p>

