@{

    ViewData["Title"] = "Add";
}

<h1>Add Cheese</h1>

<form method="post" >
    <p>Cheese:
    <input name="name" type="text"/></p>
    <p>Description: 
    <input type="text" name="description"/></p>
    <input type="submit" value="Add Cheese" />
</form>
