
@{
    ViewData["Title"] = "My Cheese";

}


<h1>My Cheese</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>
<p><a asp-controller="Cheese" asp-action="Delete">Remove Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No Cheeses Yet!</p>
}
 

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @foreach(Cheese cheese in ViewBag.cheeses)
    {
        <tr>
            <td>@cheese.Name</td>
            <td>@cheese.Description</td>     
        </tr>
    }
  
</table>