
@{
    ViewData["Title"] = "My Cheese";

}


<h1>My Cheese</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>
<p><a asp-controller="Cheese" asp-action="Delete">Remove Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No Cheeses Yet!</p>
}
 

<ul>
    @foreach(Cheese cheese in ViewBag.cheeses)
    {
        <li>
            @cheese.Name : @cheese.Description
        </li>   
    }
  
</ul>